.btn-pos{
  transform: scale(1);
  transition: transform .2s ease-in;
}

.btn-pos:hover{
  transform: scale(1.1);
}

.btn-pos span{
  transform: scale(1);
  transition: transform .3s ease-in;
  background-color: rgb(226 232 240);
}

.btn-pos:hover span{
  transform: scale(1.1, 1.2);
}

.welcome-page {
  position: absolute;
}

.welcome-page-enter-active {
  animation: fade-in 1s forwards;
}

.welcome-page-exit-active {
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
