.btn-pos{
  transform: scale(1);
  transition: transform .2s ease-in;
}

.btn-pos:hover{
  transform: scale(1.1);
}

.btn-pos span{
  transform: scale(1);
  transition: transform .3s ease-in;
  background-color: rgb(192, 136, 230)
}

.btn-pos:hover span{
  transform: scale(1.1, 1.2);
}

.btn-neg{
  transform: scale(1);
  transition: transform .2s ease-in;
}

.btn-neg:hover{
  transform: scale(1.1);
}

.btn-neg span{
  transform: scale(1);
  transition: transform .3s ease-in;
  background-color: rgb(192, 136, 230)
}

.btn-neg:hover span{
  transform: scale(1.1, 1.2);
}

.popup-enter-active {
  animation: fade-in 1s forwards;
}

.popup-exit-active {
  animation: fade-in 1s forwards;
}



@keyframes fade-in {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
}
